<a href="https://colab.research.google.com/github/AliKhyar/Machine-Learning-stuff/blob/master/KerasRegressionAssessement3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='itemA0'></a>

## Download and Clean Dataset

In [92]:
import pandas as pd
import numpy as np

concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [93]:
concrete_data.shape  ## check how many data points we have

(1030, 9)

In [94]:
concrete_data.describe()  ## check dataset for any missing values

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [95]:
concrete_data.isnull().sum() ## check dataset for any missing values

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#### Split data into predictors and target

In [0]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [97]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [98]:

predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [99]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Import Keras and Packages

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

### Build a neural network with one hidden layer of 10 nodes, and a ReLU activation function

In [0]:
n_cols = predictors.shape[1] # number of predictors

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Randomly split the data into a training and test sets

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(  predictors_norm, target, test_size=0.30, random_state=42)

### Train the model

In [110]:
# build the model
model = regression_model()

# fit the model
model.fit(X_train, y_train, validation_split=0.3, epochs=100, verbose=0)

### Evaluate the model on the test data and compute the mean squared error

In [0]:
y_predicted = model.predict(X_test, batch_size=32, verbose=2)

In [112]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test, y_predicted)
MSE

215.92640249217584

### Repeat steps 1 - 3, 50 times

In [0]:
MSEs = []
for k in range(50):
    _X_train, _X_test, _y_train, _y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=42)

    # fit the model
    model.fit(_X_train, _y_train, validation_split=0.3, epochs=50, verbose=0)
    
    _y_predicted = model.predict(_X_test, batch_size=32, verbose=2)
    _MSE = mean_squared_error(_y_test, _y_predicted)
    MSEs.append(_MSE)

### Report the mean and the standard deviation of the mean squared errors.

In [114]:
import numpy as np


MSE_mean = np.mean(MSEs) #MSEs_scaled.mean(axis=0)

MSE_std = np.std(MSEs)

print("mean: %s"% MSE_mean)
print("std: %s"% MSE_std)

mean: 48.61092865577474
std: 25.546239179689866