<a href="https://colab.research.google.com/github/AliKhyar/Machine-Learning-stuff/blob/master/KerasRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
import matplotlib.pyplot as plt

In [0]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [0]:
concrete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
Cement                1030 non-null float64
Blast Furnace Slag    1030 non-null float64
Fly Ash               1030 non-null float64
Water                 1030 non-null float64
Superplasticizer      1030 non-null float64
Coarse Aggregate      1030 non-null float64
Fine Aggregate        1030 non-null float64
Age                   1030 non-null int64
Strength              1030 non-null float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [0]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [0]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [0]:
concrete_data_cols = concrete_data.columns
predictors = concrete_data[concrete_data_cols[concrete_data_cols != 'Strength']]
target = concrete_data[['Strength']]

In [0]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [0]:
target.head()

   Strength
0     79.99
1     61.89
2     40.27
3     41.05
4     44.30

In [0]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [0]:
n_cols = predictors_norm.shape[1]

In [0]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [0]:
model = regression_model()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [0]:
h = model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 34.9868 - val_loss: 129.8224
Epoch 2/100
 - 0s - loss: 34.4713 - val_loss: 128.8815
Epoch 3/100
 - 0s - loss: 34.0736 - val_loss: 135.4471
Epoch 4/100
 - 0s - loss: 34.8036 - val_loss: 141.3607
Epoch 5/100
 - 0s - loss: 33.9645 - val_loss: 127.5260
Epoch 6/100
 - 0s - loss: 33.9012 - val_loss: 127.5859
Epoch 7/100
 - 0s - loss: 33.2349 - val_loss: 131.4793
Epoch 8/100
 - 0s - loss: 32.9308 - val_loss: 127.5368
Epoch 9/100
 - 0s - loss: 32.6296 - val_loss: 132.1990
Epoch 10/100
 - 0s - loss: 31.9771 - val_loss: 135.0045
Epoch 11/100
 - 0s - loss: 32.3249 - val_loss: 125.0958
Epoch 12/100
 - 0s - loss: 32.2518 - val_loss: 129.9579
Epoch 13/100
 - 0s - loss: 31.9053 - val_loss: 141.7709
Epoch 14/100
 - 0s - loss: 31.4566 - val_loss: 132.6763
Epoch 15/100
 - 0s - loss: 30.8853 - val_loss: 135.8620
Epoch 16/100
 - 0s - loss: 31.1195 - val_loss: 137.3368
Epoch 17/100
 - 0s - loss: 31.0400 - val_loss: 132.4354
Epoch 18/100
 - 0s - loss: 30.7623 - val_loss: 128.9926
Epoch 19/100
 - 0s - loss: 30.5855 - val_loss: 133.4073
Epoch 20/100
 - 0s - loss: 30.2272 - val_loss: 142.8289
Epoch 21/100
 - 0s - loss: 30.1796 - val_loss: 134.8891
Epoch 22/100
 - 0s - loss: 30.0924 - val_loss: 136.8038
Epoch 23/100
 - 0s - loss: 31.1519 - val_loss: 146.4254
Epoch 24/100
 - 0s - loss: 29.5244 - val_loss: 134.3544
Epoch 25/100
 - 0s - loss: 29.1462 - val_loss: 143.8051
Epoch 26/100
 - 0s - loss: 29.0599 - val_loss: 132.7813
Epoch 27/100
 - 0s - loss: 29.0237 - val_loss: 136.1540
Epoch 28/100
 - 0s - loss: 29.3640 - val_loss: 138.6627
Epoch 29/100
 - 0s - loss: 28.7184 - val_loss: 136.1783
Epoch 30/100
 - 0s - loss: 29.0703 - val_loss: 131.8088
Epoch 31/100
 - 0s - loss: 28.6792 - val_loss: 134.6163
Epoch 32/100
 - 0s - loss: 28.1365 - val_loss: 130.7202
Epoch 33/100
 - 0s - loss: 28.0710 - val_loss: 133.8993
Epoch 34/100
 - 0s - loss: 27.8909 - val_loss: 141.7553
Epoch 35/100
 - 0s - loss: 27.5347 - val_loss: 129.5938
Epoch 36/100
 - 0s - loss: 27.1816 - val_loss: 140.4792
Epoch 37/100
 - 0s - loss: 27.7630 - val_loss: 130.2830
Epoch 38/100
 - 0s - loss: 27.8805 - val_loss: 131.5381
Epoch 39/100
 - 0s - loss: 27.3317 - val_loss: 133.7785
Epoch 40/100
 - 0s - loss: 27.3397 - val_loss: 138.4143
Epoch 41/100
 - 0s - loss: 26.5229 - val_loss: 138.6394
Epoch 42/100
 - 0s - loss: 26.5870 - val_loss: 138.1367
Epoch 43/100
 - 0s - loss: 26.4593 - val_loss: 141.4194
Epoch 44/100
 - 0s - loss: 26.1531 - val_loss: 137.2718
Epoch 45/100
 - 0s - loss: 26.1673 - val_loss: 139.4379
Epoch 46/100
 - 0s - loss: 25.8844 - val_loss: 143.5688
Epoch 47/100
 - 0s - loss: 26.2770 - val_loss: 141.3473
Epoch 48/100
 - 0s - loss: 25.5645 - val_loss: 140.8350
Epoch 49/100
 - 0s - loss: 25.2585 - val_loss: 125.5016
Epoch 50/100
 - 0s - loss: 25.5398 - val_loss: 137.7042
Epoch 51/100
 - 0s - loss: 25.5241 - val_loss: 135.0440
Epoch 52/100
 - 0s - loss: 25.1028 - val_loss: 131.6823
Epoch 53/100
 - 0s - loss: 25.0348 - val_loss: 141.8096
Epoch 54/100
 - 0s - loss: 25.3532 - val_loss: 129.9932
Epoch 55/100
 - 0s - loss: 24.4387 - val_loss: 136.1273
Epoch 56/100
 - 0s - loss: 24.5151 - val_loss: 135.3906
Epoch 57/100
 - 0s - loss: 24.4680 - val_loss: 142.7804
Epoch 58/100
 - 0s - loss: 24.8302 - val_loss: 143.3374
Epoch 59/100
 - 0s - loss: 24.9998 - val_loss: 143.0937
Epoch 60/100
 - 0s - loss: 24.1424 - val_loss: 142.3675
Epoch 61/100
 - 0s - loss: 24.1244 - val_loss: 135.4704
Epoch 62/100
 - 0s - loss: 23.6220 - val_loss: 132.6445
Epoch 63/100
 - 0s - loss: 23.4283 - val_loss: 135.2283
Epoch 64/100
 - 0s - loss: 23.3744 - val_loss: 136.5021
Epoch 65/100
 - 0s - loss: 23.1110 - val_loss: 141.6895
Epoch 66/100
 - 0s - loss: 23.1832 - val_loss: 118.6888
Epoch 67/100
 - 0s - loss: 23.6918 - val_loss: 126.3195
Epoch 68/100
 - 0s - loss: 23.6050 - val_loss: 129.2158
Epoch 69/100
 - 0s - loss: 23.8570 - val_loss: 128.7669
Epoch 70/100
 - 0s - loss: 23.1057 - val_loss: 127.0060
Epoch 71/100
 - 0s - loss: 23.0403 - val_loss: 132.0730
Epoch 72/100
 - 0s - loss: 22.5071 - val_loss: 130.3767
Epoch 73/100
 - 0s - loss: 23.0586 - val_loss: 132.8146
Epoch 74/100
 - 0s - loss: 22.4792 - val_loss: 131.5383
Epoch 75/100
 - 0s - loss: 21.9029 - val_loss: 145.5719
Epoch 76/100
 - 0s - loss: 22.2006 - val_loss: 133.5872
Epoch 77/100
 - 0s - loss: 21.8262 - val_loss: 123.5087
Epoch 78/100
 - 0s - loss: 22.0668 - val_loss: 133.0755
Epoch 79/100
 - 0s - loss: 22.4558 - val_loss: 131.5192
Epoch 80/100
 - 0s - loss: 21.9088 - val_loss: 138.4165
Epoch 81/100
 - 0s - loss: 21.5914 - val_loss: 136.2247
Epoch 82/100
 - 0s - loss: 21.3693 - val_loss: 138.9248
Epoch 83/100
 - 0s - loss: 21.1566 - val_loss: 142.6467
Epoch 84/100
 - 0s - loss: 21.6867 - val_loss: 138.9023
Epoch 85/100
 - 0s - loss: 20.8829 - val_loss: 138.4304
Epoch 86/100
 - 0s - loss: 21.4411 - val_loss: 138.0702
Epoch 87/100
 - 0s - loss: 20.9922 - val_loss: 130.5023
Epoch 88/100
 - 0s - loss: 20.6124 - val_loss: 143.2973
Epoch 89/100
 - 0s - loss: 20.5228 - val_loss: 133.1237
Epoch 90/100
 - 0s - loss: 20.6066 - val_loss: 139.8867
Epoch 91/100
 - 0s - loss: 20.6805 - val_loss: 130.4858
Epoch 92/100
 - 0s - loss: 20.5912 - val_loss: 124.8107
Epoch 93/100
 - 0s - loss: 21.3581 - val_loss: 135.3633
Epoch 94/100
 - 0s - loss: 20.7620 - val_loss: 135.6846
Epoch 95/100
 - 0s - loss: 20.7019 - val_loss: 131.2653
Epoch 96/100
 - 0s - loss: 20.0254 - val_loss: 133.8708
Epoch 97/100
 - 0s - loss: 19.8163 - val_loss: 148.6275
Epoch 98/100
 - 0s - loss: 19.7022 - val_loss: 152.0726
Epoch 99/100
 - 0s - loss: 19.9696 - val_loss: 132.2475
Epoch 100/100
 - 0s - loss: 20.1609 - val_loss: 132.5860